body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    /* Digital Garden 배포 시 이미지 레이아웃 강제 교정 */
    .markdown-rendered img {
        display: block !important;
        margin: 1.5rem auto !important; /* 위아래 간격 및 중앙 정렬 */
        width: 100% !important;        /* 가로폭 꽉 채우기 */
        max-width: 900px !important;   /* 너무 커지는 것 방지 */
        height: auto !important;
    }
}
